JWT_SECRET=b25lc2hvcC1qd3Qtc2VjcmV0LW11c3QtYmUtMzItYnl0ZXMtbG9uZy0xMjM0NTY=
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

MYSQL_URL=jdbc:mysql://localhost:3306/oneshop?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=Asia/Ho_Chi_Minh
MYSQL_USERNAME=root
MYSQL_PASSWORD=

POSTGRES_URL=jdbc:postgresql://localhost:5432/oneshop
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

SQLSERVER_URL=jdbc:sqlserver://localhost:1433;databaseName=oneshop;encrypt=true;trustServerCertificate=true
SQLSERVER_USERNAME=sa
SQLSERVER_PASSWORD=Your_password123
